body {
    background-color: white;
}

#header{
  text-align: center;
}

#searchBar {
  margin: 20px 10px;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
}

.myJumbotron {
   max-height: 350px;
   max-width: 500px;
   padding:1px;
   margin-top: 20px;
}

#modalButton{
  position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-70%, -50%) !important;
}

#modalForm{
 font-size: 18px;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: white;
}

.table{
    border: 1px solid grey;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-collapse:seperate;
}
